@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

body{
    font-family: 'Raleway',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
}