<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>Welcome to the DevConnector</title>
</head>

<body>
    <nav class="navbar bg-dark">
        <h1>
            <a href="index.html">
                <i class="fas fa-code"></i> DevConnector
            </a>
        </h1>
        <ul>
            <li><a href="profiles.html">Developers</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="posts.html">Posts</a></li>
            <li>
                <a href="dashboard.html">
                    <i class="fas fa-user"></i>
                    <span class="hide-sm"> Dashboard</span>
                </a>
            </li>
            <li>
                <a href="login.html">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="hide-sm"> Logout</span>
                </a>
            </li>
        </ul>
    </nav>
    <section class="container">
        <h1 class="large text-primary">Developers</h1>
        <p class="lead"><i class="fab fa-connectdevelop"></i>Browse and connect with developers</p>
        <div class="profiles">
            <div class="profile bg-light">
                <img class="round-img" src="<%= require('../images/avatar.jpg') %>" alt="">
                <div>
                    <h2>Mert Özen</h2>
                    <p>Developer at Ozen Software</p>
                    <p>Istanbul,Turkey</p>
                    <a href="profile.html" class="btn btn-primary">
                        View Profile
                    </a>
                </div>
                <ul>
                    <li class="text-primary"><i class="fas fa-check">HTML</i>
                    </li>
                    <li class="text-primary"><i class="fas fa-check">CSS</i></li>
                    <li class="text-primary"><i class="fas fa-check">Javascript</i></li>
                    <li class="text-primary"><i class="fas fa-check">NodeJS</i></li>
                </ul>
            </div>
            <div class="profile bg-light">
                <img class="round-img" src="<%= require('../images/avatar.jpg') %>" alt="avatar">
                <div>
                    <h2>Mert Özen</h2>
                    <p>Developer at Ozen Software</p>
                    <p>Istanbul,Turkey</p>
                    <a href="profile.html" class="btn btn-primary">
                        View Profile
                    </a>
                </div>
                <ul>
                    <li class="text-primary"><i class="fas fa-check">HTML</i>
                    </li>
                    <li class="text-primary"><i class="fas fa-check">CSS</i></li>
                    <li class="text-primary"><i class="fas fa-check">Javascript</i></li>
                    <li class="text-primary"><i class="fas fa-check">NodeJS</i></li>
                </ul>
            </div>
        </div>
    </section>
</body>

</html>