* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container * {
  float: left;
  width: 15.83333%;
  margin-right: 1%;
  margin-bottom: 1%; }
  .container *:nth-child(6n) {
    margin-right: 0; }

.image {
  width: 100%; }
